src/Makefile
/Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/
config.*
configure
libtool
src/.deps/
src/.dirstamp
stamp-h1
btrunit-*/
btrunit-*.tar.gz

*/chpst
*/runit
*/runit-init
*/runsv
*/runsvchdir
*/runsvctrl
*/runsvdir
*/runsvstat
*/sv
*/svlogd
*/svwaitdown
*/svwaitup
*/utmpset

