*.o
*.lo
alloc.c
alloc.h
alloc_re.c
buffer_0.c
buffer_1.c
buffer_2.c
buffer.c
buffer_get.c
buffer.h
buffer_put.c
buffer_read.c
buffer_write.c
byte_chr.c
byte_copy.c
byte_cr.c
byte_diff.c
byte.h
byte_rchr.c
chkshsgr.c
chpst.c
coe.c
coe.h
env.c
env.h
error.c
error.h
error_str.c
fd_copy.c
fd.h
fd_move.c
fifo.c
fifo.h
fmt.h
fmt_ptime.c
fmt_ptime.h
fmt_uint0.c
fmt_uint.c
fmt_ulong.c
gen_allocdefs.h
gen_alloc.h
iopause.c
lock_ex.c
lock_exnb.c
lock.h
ndelay.h
ndelay_off.c
ndelay_on.c
open_append.c
open.h
open_read.c
openreadclose.c
openreadclose.h
open_trunc.c
open_write.c
pathexec_env.c
pathexec.h
pathexec_run.c
pmatch.c
pmatch.h
prot.c
prot.h
readclose.c
readclose.h
runit.c
runit.h
runit-init.c
runsv.c
runsvchdir.c
runsvctrl.c
runsvdir.c
runsvstat.c
scan.h
scan_ulong.c
seek.h
seek_set.c
sgetopt.c
sgetopt.h
sig_block.c
sig.c
sig_catch.c
sig.h
sig_pause.c
stralloc_catb.c
stralloc_cat.c
stralloc_cats.c
stralloc_eady.c
stralloc.h
stralloc_opyb.c
stralloc_opys.c
stralloc_pend.c
str_chr.c
str_diff.c
strerr_die.c
strerr.h
strerr_sys.c
str.h
str_len.c
str_start.c
subgetopt.c
subgetopt.h
sv.c
svlogd.c
svwaitdown.c
svwaitup.c
taia_add.c
taia_approx.c
taia_frac.c
taia.h
taia_less.c
taia_now.c
taia_pack.c
taia_sub.c
taia_uint.c
tai.h
tai_now.c
tai_pack.c
tai_sub.c
tai_unpack.c
trycpp.c
trydrent.c
tryflock.c
trymkffo.c
trypoll.c
tryreboot.c
trysgact.c
trysgprm.c
tryshsgr.c
trysocketlib.c
trysysel.c
tryulong64.c
tryuwtmp.c
tryuwtmpx.c
trywaitp.c
uidgid.c
uidgid.h
utmpset.c
wait.h
wait_nohang.c
wait_pid.c
x86cpuid.c
